<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="instrumentationConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Instrumentation.Configuration.InstrumentationConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="false"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add databaseInstanceName="POEDSLogDB" writeLogStoredProcName="WriteLog"
        addCategoryStoredProcName="AddCategory" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database"
        name="POEDSService-DatabaseTraceListener" />
      <add source="POEDSAsyncService" formatter="Text Formatter" log="POEDSLog"
        machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="POEDSService-FormattedEventLogTraceListener" />
      <add source="POEDSAsyncServicePing" formatter="Text Formatter" log="POEDSLog"
        machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Ping-FormattedEventLogTraceListener" />
      <add fileName="[LOGFOLDER]\POEDSAsyncServiceMiscRolling.log" footer="----------------------------------------"
        formatter="Text Formatter" header="----------------------------------------"
        rollFileExistsBehavior="Overwrite" rollInterval="Day" rollSizeKB="0"
        timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Misc-RollingFlatFileTraceListener" />
      <add fileName="[LOGFOLDER]\POEDSAsyncServiceData.svclog" 
        listenerDataType="MS.IT.POEDS.Common.Framework.Logging.XmlTraceListenerData, POEDSCommonFramework"
        traceOutputOptions="None" filter="All" type="MS.IT.POEDS.Common.Framework.Logging.XmlTraceListener,POEDSCommonFramework"
        name="POEDSService-XMLTraceListener" />
      <add fileName="[LOGFOLDER]\POEDSAsyncServicePerformanceCounterData.svclog" 
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.XmlTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.XmlTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="PerformanceCounter-XMLTraceListener" />
      <add fileName="[LOGFOLDER]\POEDSAsyncServiceGeneral.svclog" 
        listenerDataType="MS.IT.POEDS.Common.Framework.Logging.XmlTraceListenerData, POEDSCommonFramework"
        traceOutputOptions="None" filter="All" type="MS.IT.POEDS.Common.Framework.Logging.XmlTraceListener, POEDSCommonFramework"
        name="General-XMLTraceListener" />
    </listeners>
    <formatters>
      <add template="Extended Properties: {newline}{dictionary({key} - {value}&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Database Formatter" />
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {newline}{dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Text Formatter" />
    </formatters>
    <logFilters>
      <add categoryFilterMode="DenyAllExceptAllowed" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Category Filter">
        <categoryFilters>
          <add name="POEDSMessageLogService" />
          <add name="POEDSMessageLogService2" />
          <add name="POEDSMessageLogService3" />
          <add name="POEDSTransformationService" />
          <add name="POEDSTransformationService2" />
          <add name="POEDSTransformationService3" />
          <add name="POEDSValidationService" />
          <add name="POEDSValidationService2" />
          <add name="POEDSValidationService3" />
          <add name="POEDSAsyncDataService" />
          <add name="POEDSAsyncDataService2" />
          <add name="POEDSAsyncDataService3" />
          <add name="POEDSDatabaseLogService" />
          <add name="POEDSDatabaseLogService2" />
          <add name="POEDSDatabaseLogService3" />
          <add name="POEDSProcessPendingOrdersService" />
          <add name="POEDSProcessPendingOrdersService2" />
          <add name="POEDSProcessPendingOrdersService3" />
          <add name="POEDSRetryFileLoadService" />
          <add name="POEDSRetryFileLoadService2" />
          <add name="POEDSRetryFileLoadService3" />
          <add name="POEDSSlkCallbackService" />
          <add name="POEDSSlkCallbackService2" />
          <add name="POEDSSlkCallbackService3" />
          <add name="POEDSPoeLoadService" />
          <add name="POEDSPoeLoadService2" />
          <add name="POEDSPoeLoadService3" />
          <add name="POEDSSalesOrderService" />
          <add name="POEDSSalesOrderService2" />
          <add name="POEDSSalesOrderService3" />
          <add name="POEDSProcessRequestService" />
          <add name="POEDSProcessRequestService2" />
          <add name="POEDSProcessRequestService3" />
          <add name="POEDSService" />
          <add name="POEDSService2" />
          <add name="POEDSService3" />
          <add name="POEDSDatabaseHelperCounters" />
          <add name="POEDSAdapterCounters" />
          <add name="POEDSCacheCounters" />
          <add name="POEDSPing" />
          <add name="POEDSPing2" />
          <add name="POEDSPing3" />
          <add name="POEDSInventory" />
          <add name="General" />
        </categoryFilters>
      </add>
      <add enabled="true" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="LogEnabled Filter" />
      <!-- switchValue="Information" : we don't want any verbose to be logged in production -->
      <add switchValue="Information" type="MS.IT.POEDS.Common.Framework.Logging.Filter.SourceLevelFilter, POEDSCommonFramework, Version=2.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="SourceLevel Filter" />
    </logFilters>
    <categorySources>
      <add switchValue="Error" name="POEDSMessageLogService">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSMessageLogService2">
        <listeners>
          <add name="POEDSService-DatabaseTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSMessageLogService3">
        <listeners>
          <add name="POEDSService-XMLTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSTransformationService">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSTransformationService2">
        <listeners>
          <add name="POEDSService-DatabaseTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSTransformationService3">
        <listeners>
          <add name="POEDSService-XMLTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSValidationService">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSValidationService2">
        <listeners>
          <add name="POEDSService-DatabaseTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSValidationService3">
        <listeners>
          <add name="POEDSService-XMLTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSAsyncDataService">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSAsyncDataService2">
        <listeners>
          <add name="POEDSService-DatabaseTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSAsyncDataService3">
        <listeners>
          <add name="POEDSService-XMLTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSDatabaseLogService">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSDatabaseLogService2">
        <listeners>
          <add name="POEDSService-DatabaseTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSDatabaseLogService3">
        <listeners>
          <add name="POEDSService-XMLTraceListener" />
        </listeners>
      </add>
      <!-- bug 122292 setting Warning-->
      <add switchValue="Warning" name="POEDSProcessPendingOrdersService">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSProcessPendingOrdersService2">
        <listeners>
          <add name="POEDSService-DatabaseTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSProcessPendingOrdersService3">
        <listeners>
          <add name="POEDSService-XMLTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSRetryFileLoadService">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSRetryFileLoadService2">
        <listeners>
          <add name="POEDSService-DatabaseTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSRetryFileLoadService3">
        <listeners>
          <add name="POEDSService-XMLTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSSlkCallbackService">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSSlkCallbackService2">
        <listeners>
          <add name="POEDSService-DatabaseTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSSlkCallbackService3">
        <listeners>
          <add name="POEDSService-XMLTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSPoeLoadService">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSPoeLoadService2">
        <listeners>
          <add name="POEDSService-DatabaseTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSPoeLoadService3">
        <listeners>
          <add name="POEDSService-XMLTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSAdapterCounters">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSDatabaseHelperCounters">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSCacheCounters">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSPing">
        <listeners>
          <add name="Ping-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSPing2">
        <listeners>
          <add name="POEDSService-DatabaseTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSPing3">
        <listeners>
          <add name="POEDSService-XMLTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSSalesOrderService">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSSalesOrderService2">
        <listeners>
          <add name="POEDSService-DatabaseTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSSalesOrderService3">
        <listeners>
          <add name="POEDSService-XMLTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSProcessRequestService">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSProcessRequestService2">
        <listeners>
          <add name="POEDSService-DatabaseTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSProcessRequestService3">
        <listeners>
          <add name="POEDSService-XMLTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSService">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="POEDSService2">
        <listeners>
          <add name="POEDSService-DatabaseTraceListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="POEDSService3">
        <listeners>
          <add name="POEDSService-XMLTraceListener" />
        </listeners>
      </add>
      <add switchValue="Information" name="POEDSInventory">
        <listeners>
          <add name="POEDSService-FormattedEventLogTraceListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="General">
        <listeners>
          <add name="General-XMLTraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="Off" name="All Events">
        <listeners>
          <add name="Misc-RollingFlatFileTraceListener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="Off" name="Unprocessed Category">
        <listeners>
          <add name="General-XMLTraceListener" />
        </listeners>
      </notProcessed>
      <errors switchValue="Off" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="General-XMLTraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <instrumentationConfiguration performanceCountersEnabled="false"
    eventLoggingEnabled="false" wmiEnabled="false" applicationInstanceName="" />
  <connectionStrings>
    <add name="POEDSLogDB" connectionString="Data Source=[ELLOGDBSERVERNAME];Failover Partner=[ALTELLOGDBSERVERNAME];Initial Catalog=POEDS_ELLogging;Failover Partner=[ALTELLOGDBSERVERNAME]; Integrated Security=True;User Instance=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
