<?xml version="1.0" encoding="utf-8" ?>
<system.diagnostics>
  <sources>
    <!--WCF-->
    <source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
      <listeners>
        <add name="AsyncTrace" />
      </listeners>
    </source>
    <source name="System.ServiceModel.MessageLogging" switchValue="Error">
      <listeners>
        <add name="AsyncTrace" />
      </listeners>
    </source>
  </sources>
  <sharedListeners>
    <add initializeData="[LOGFOLDER]\AsyncService_Trace.svclog"
      type="MS.IT.POEDS.Common.Framework.Logging.RolloverTraceLogs, POEDSCommonFramework"
      name="AsyncTrace" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
      <filter type="" />
    </add>
  </sharedListeners>
  <trace autoflush="true" indentsize="4" />
  <switches>
    <!-- Boolean Switch - Database Helper PerfCounters [value 0-Off, 1-on] -->
    <add name="POEDS.Counters.DatabaseHelper.Connection.Open" value="1" />
    <add name="POEDS.Counters.DatabaseHelper.Connection.Fail" value="1" />
    <add name="POEDS.Counters.DatabaseHelper.Execution.Fail" value="1" />
    <!-- Boolean Switch - Adapter PerfCounters [value 0-Off, 1-on] -->
    <add name="POEDS.Counters.Adapters.Requests.Total" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Succeeded" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Failed" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Total.ElapsedTime" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Succeeded.ElapsedTime" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Failed.ElapsedTime" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Total.PerSecond" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Succeeded.PerSecond" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Failed.PerSecond" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Total.AverageTime" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Succeeded.AverageTime" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Failed.AverageTime" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Total.AverageCount" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Succeeded.AverageCount" value="1" />
    <add name="POEDS.Counters.Adapters.Requests.Failed.AverageCount" value="1" />
  </switches>
</system.diagnostics>
