<?xml version="1.0" encoding="UTF-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
     \Windows\Microsoft.Net\Framework64\v4.x\Config 
-->
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="POEDSCommonFramework.ConfigurationSource">
      <section name="ServiceException.Configurations" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="DatabaseHelper.Configurations" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="POEDSServiceFramework.ConfigurationSource">
      <section name="ServiceHost.Configurations" type="MS.IT.POEDS.Service.Framework.Configuration.ConfigSection, POEDSServiceFramework, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <section name="PingService.Configurations" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" filePath="[INSTALLDIR]AsynService.Logging.Configuration.config" />
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <system.diagnostics configSource="AsynService.Diagnostics.Configuration.config" />
  <POEDSCommonFramework.ConfigurationSource>
    <!--Service exception looks for ErrorResource.resources, If not provided -->
    <ServiceException.Configurations>
      <!--.resources will be appeneded automatically.-->
      <add key="ErrorResourceBaseName" value="ErrorResource" />
    </ServiceException.Configurations>
    <DatabaseHelper.Configurations>
      <add key="ConnectRetryAttemptsKey" value="2" />
      <add key="DatabaseHelperInstrumentationFactory" value="MS.IT.POEDS.Common.Framework.Factory.DatabaseHelperInstrumentationFactory, POEDSInstrumentation" />
    </DatabaseHelper.Configurations>
  </POEDSCommonFramework.ConfigurationSource>
  <POEDSServiceFramework.ConfigurationSource>
    <!--This section is optional. Service exception looks for ErrorResource.resources, If not provided -->
    <ServiceHost.Configurations>
      <Instrumentation>
        <add name="AdapterInstrumentationFactory" value="MS.IT.POEDS.Common.Framework.Factory.AdapterInstrumentationFactory, POEDSInstrumentation" />
      </Instrumentation>
      <ConnectionSettings>
        <add name="ConfigDB" connectionstring="Data Source=[CONFIGDBSERVERNAME];Failover Partner=[ALTCONFIGDBSERVERNAME];Initial Catalog=POEDS_Configuration;Integrated Security=True;User Instance=False;" version="2.1.0.0" />
      </ConnectionSettings>
    </ServiceHost.Configurations>
    <PingService.Configurations>
      <add key="LogCategoryName" value="POEDSPing;;POEDSPing2;;POEDSPing3"/>
      <add key="ServiceName" value="AsyncService"/>
      <add key="EnableAuthorization" value="true"/>
      <add key="RolePingService" value="[PINGROLENAME]"/>
      <add key="RequiredAssemblies" value="POEDSProcessPendingOrdersAdapter;;POEDSSlkCallbackAdapter;;POEDSRetryFileLoadAdapter;;POEDSProcessRequestAdapter;;POEDSSalesOrderAdapter"/>
    </PingService.Configurations>
  </POEDSServiceFramework.ConfigurationSource>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" />
    </diagnostics>
    <bindings>
      <netNamedPipeBinding>
        <binding name="netNamedPipeBinding_AsyncService"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="infinite"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="StreamedRequest"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="104857600"
                 maxBufferSize="104857600"
                 maxConnections="10"
                 maxReceivedMessageSize="104857600">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="104857600"
                        maxArrayLength="16384"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="netNamedPipeBinding_AsyncServicePing"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="01:01:00"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="524288"
                 maxBufferSize="65536"
                 maxConnections="10"
                 maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="8192"
                        maxArrayLength="16384"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="netTcpBinding_AsyncService"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="infinite"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="StreamedRequest"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="104857600"
                 maxBufferSize="104857600"
                 maxConnections="10"
                 maxReceivedMessageSize="104857600">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="104857600"
                        maxArrayLength="16384"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign"  >
              <extendedProtectionPolicy policyEnforcement ="WhenSupported"/>
            </transport>
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="netTcpBinding_AsyncServicePing"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="01:01:00"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="524288"
                 maxBufferSize="65536"
                 maxConnections="10"
                 maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="8192"
                        maxArrayLength="16384"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign"  >
              <extendedProtectionPolicy policyEnforcement ="WhenSupported"/>
            </transport>
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="netTcpBinding_AsyncServiceInventory"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="infinite"
                 sendTimeout="00:01:00"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="524288"
                 maxBufferSize="65536"
                 maxConnections="10"
                 maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="65536"
                        maxArrayLength="16384"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign"  >
              <extendedProtectionPolicy policyEnforcement ="WhenSupported"/>
            </transport>
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="netTcpBinding_RequestSubmissionService"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:15:00"
                 sendTimeout="00:15:00"
                 transactionFlow="false"
                 transferMode="StreamedRequest"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="524288"
                 maxBufferSize="65536"
                 maxConnections="10"
                 maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="65536"
                        maxArrayLength="16384"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                           enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows"
                       protectionLevel="EncryptAndSign"  >
              <extendedProtectionPolicy policyEnforcement ="WhenSupported"/>
            </transport>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <!-- Service Behaviors -->
        <add name="POEDSServiceBehaviorElement"
             type="MS.IT.POEDS.Service.Framework.Service.BehaviorExtensions.ServiceBehaviorElement, POEDSServiceFramework, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="POEDSSlkCallbackErrorServiceBehaviorElement"
             type="MS.IT.POEDS.Contracts.Service.Async.Service.SlkCallbackErrorServiceBehaviorElement, POEDSAsyncContracts, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="POEDSErrorServiceBehaviorElement"
             type="MS.IT.POEDS.Service.Framework.Service.BehaviorExtensions.ErrorServiceBehaviorElement, POEDSServiceFramework, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <!-- Endpoint Behaviors -->
        <add name="POEDSEndpointBehaviorElement"
             type="MS.IT.POEDS.Service.Framework.Service.BehaviorExtensions.EndpointBehaviorElement, POEDSServiceFramework, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="POEDSSlkCallbackEndpointBehaviorElement"
             type="MS.IT.POEDS.Contracts.Service.Async.Service.SlkCallbackEndpointBehaviorElement, POEDSAsyncContracts, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="POEDSEndpointPingBehaviorElement"
             type="MS.IT.POEDS.Service.Framework.Service.BehaviorExtensions.EndpointPingBehaviorElement, POEDSServiceFramework, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AsyncServiceBehavior">
          <POEDSEndpointBehaviorElement />
          <dataContractSerializer maxItemsInObjectGraph="104857600"/>
        </behavior>
        <behavior name="SlkCallbackServiceBehavior">
          <POEDSSlkCallbackEndpointBehaviorElement />
        </behavior>
        <behavior name="PingServiceBehavior">
          <POEDSEndpointPingBehaviorElement />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="PingAsyncServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="AsyncServiceBehavior">
          <serviceThrottling maxConcurrentCalls="150"
                             maxConcurrentInstances="150"
                             maxConcurrentSessions="150" />
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <POEDSServiceBehaviorElement InstanceProviderType="New" />
          <POEDSErrorServiceBehaviorElement/>
        </behavior>
        <behavior name="SlkCallbackServiceBehavior">
          <serviceThrottling maxConcurrentCalls="150"
                             maxConcurrentInstances="150"
                             maxConcurrentSessions="150" />
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <POEDSServiceBehaviorElement InstanceProviderType="New" />
          <POEDSSlkCallbackErrorServiceBehaviorElement />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!-- Process Request Service -->
      <service behaviorConfiguration="AsyncServiceBehavior"
               name="MS.IT.POEDS.Adapter.Service.Async.ProcessRequestService">
        <!-- Async PO\RO service with netTcpBinding-->
        <endpoint address="DownstreamMessageService"
                  behaviorConfiguration="AsyncServiceBehavior"
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBinding_AsyncService"
                  name="netTcpBinding_ProcessRequestService"
                  contract="MS.IT.POEDS.Contracts.Common.ServiceContracts.IProcessRequestService" />
        <!-- Async PO\RO service with netNamedPipeBinding-->
        <endpoint address="DownstreamMessageService"
                  behaviorConfiguration="AsyncServiceBehavior"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="netNamedPipeBinding_AsyncService"
                  name="netNamedPipeBinding_ProcessRequestService"
                  contract="MS.IT.POEDS.Contracts.Common.ServiceContracts.IProcessRequestService" />
        <host>
          <baseAddresses>
            <add baseAddress="localhost" />
          </baseAddresses>
        </host>
      </service>
      <!-- Sales Order Service -->
      <service name="MS.IT.POEDS.Adapter.Service.Async.SalesOrderService"
               behaviorConfiguration="AsyncServiceBehavior">
        <!-- Async SO service with netTcpBinding -->
        <endpoint name="netTcpBinding_SalesOrderService"
                  address="AsyncWorkflowService"
                  binding="netTcpBinding"
                  contract="MS.IT.POEDS.Contracts.IBB.ServiceContracts.ISalesOrderService"
                  bindingConfiguration="netTcpBinding_AsyncService"
                  behaviorConfiguration="AsyncServiceBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="localhost" />
          </baseAddresses>
        </host>
      </service>
      <!-- ProcessPendingOrders Service (Inventory) -->
      <service name="MS.IT.POEDS.Adapter.Service.Async.ProcessPendingOrdersService"
               behaviorConfiguration="AsyncServiceBehavior">
        <endpoint name="netTcpBinding_ProcessPendingOrdersService"
                  address="ProcessPendingOrdersService"
                  binding="netTcpBinding"
                  contract="MS.IT.POEDS.Contracts.Service.Async.ServiceContracts.IProcessPendingOrdersService"
                  bindingConfiguration="netTcpBinding_AsyncServiceInventory"
                  behaviorConfiguration="AsyncServiceBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="localhost" />
          </baseAddresses>
        </host>
      </service>
      <!-- RetryFileLoad Service (Inventory) -->
      <service name="MS.IT.POEDS.Adapter.Service.Async.RetryFileLoadService"
               behaviorConfiguration="AsyncServiceBehavior">
        <endpoint name="netTcpBinding_RetryFileLoadService"
                  address="RetryFileLoadService"
                  binding="netTcpBinding"
                  contract="MS.IT.POEDS.Contracts.Service.Async.ServiceContracts.IRetryFileLoadService"
                  bindingConfiguration="netTcpBinding_AsyncServiceInventory"
                  behaviorConfiguration="AsyncServiceBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="localhost" />
          </baseAddresses>
        </host>
      </service>
      <!-- SlkCallbackService -->
      <service name="MS.IT.POEDS.Adapter.Service.Async.SlkCallbackService"
               behaviorConfiguration="SlkCallbackServiceBehavior">
        <endpoint name="netTcpBinding_SlkCallbackService"
                  address="SlkCallbackService"
                  binding="netTcpBinding"
                  contract="MS.IT.POEDS.Contracts.Service.Async.ServiceContracts.ISlkCallbackService"
                  bindingConfiguration="netTcpBinding_AsyncServiceInventory"
                  behaviorConfiguration="SlkCallbackServiceBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="localhost" />
          </baseAddresses>
        </host>
      </service>
      <!-- Ping Service -->
      <service behaviorConfiguration="PingAsyncServiceBehavior"
               name="MS.IT.POEDS.Host.Service.Async.PingService">
        <!-- Ping Svc with  netTcpBinding-->
        <endpoint address="PingService"
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBinding_AsyncServicePing"
                  name="netTcpBinding_PingService"
                  contract="MS.IT.POEDS.Contracts.Common.ServiceContracts.IPingService"
                  behaviorConfiguration="PingServiceBehavior" />
        <!-- Ping Svc with  netNamedPipeBinding-->
        <endpoint address="PingService"
                  binding="netNamedPipeBinding"
                  bindingConfiguration="netNamedPipeBinding_AsyncServicePing"
                  name="netNamedPipeBinding_PingService"
                  contract="MS.IT.POEDS.Contracts.Common.ServiceContracts.IPingService"
                  behaviorConfiguration="PingServiceBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="localhost" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <!-- Client for SLK request service -->
      <endpoint address=""
                binding="netTcpBinding"
                bindingConfiguration="netTcpBinding_RequestSubmissionService"
                contract="IAutomatedRequest"
                name="netTcpBinding_RequestSubmissionService" />
    </client>
    <!--<serviceHostingEnvironment>
    </serviceHostingEnvironment>-->
  </system.serviceModel>
</configuration>
